<!-- userForm là 1 thể hiện của ngForm và sẽ quản lý,
     lắng nghe thay đổi form đặt vào -->
     <p>{{inputUser | json}}</p>
     <p>{{userForm.value | json}}</p>
     <!-- (ngSubmit)="onSubmit(userForm)" -->
<form #userForm="ngForm" >
    <input type="text" name="id" [(ngModel)]="inputUser.id">
    <div class="form-group">
        <label for="">Tên user </label>
        <input type="text" 
        class="form-control"
        name="name" 
        [ngModel]="inputUser.name" 
        required
        minlength="2"
        maxlength="15"
        #nameU="ngModel"
        >
        <app-show-validate [field]="nameU" key="Tên"></app-show-validate>
    </div>
    <!-- End form name  -->
    <div class="form-group">
        <label for="">Tuổi user </label>
        <input type="number" 
        class="form-control"
        name="age" 
        [ngModel]="inputUser.age" 
        required
        min="1"
        max="100"
        #age="ngModel"
        >
        <app-show-validate [field]="age" key="Tuổi"></app-show-validate>
    </div>
    <!-- End form age -->
    <div >
        <button *ngIf="inputUser.id==0" (click)="onSubmit(userForm, 'add')" class="btn btn-success" >add</button> 
        <button *ngIf="inputUser.id!=0" (click)="onSubmit(userForm, 'update')"  class="btn btn-success" >update</button>
    </div>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>stt</th>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>email</th>
                <th>img</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users, index as i">
                <td>{{i + 1}}</td>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td> - </td>
                <td> - </td>
                <td>
                    <a (click)="editUser(i)" class="btn btn-primary mx-2">detail</a>
                    <a (click)="deleteUser(i)" class="btn btn-primary mx-2">xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>