<form action="" class="container my-2" 
[formGroup]="loginForm" 
(ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div>
        <label for="">Email </label>
        <input type="email" 
        class="form-control" 
        formControlName="email"
        >
    </div>
    <div>
        <label for="">Password </label>
        <input type="password" 
        class="form-control"
        formControlName="password" >
    </div>
    <div>
        <button class="btn btn-success">Login</button>
    </div>
</form>